@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@200;300;400;500;600&display=swap');

body {
  margin: 0;
  /* background-color: #15172b; */
  font-family: 'Montserrat', sans-serif;
}

/*header*/

.header {
  background-color: #ffc137;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 80%;
  width: 100%;
  height: 300px;
}

#logo {
  height: 80%;
}

/*titres*/

h1 {
  font-family: 'Montserrat', sans-serif;
  color: #ffc137;
  text-align: center;
  margin-top: 2%;
}

h2 {
  font-family: 'Montserrat', sans-serif;
  color: #ffc137;
  margin-top: 2%;
}

h3{
  font-family: 'Montserrat', sans-serif;
  font-size: 75%;
}

/*navbar*/
#logoNav {
  height: 5%;
  width: 20%;
}

.navbar-brand {
  width: 10%;
}

.nav-item {
  align-items: left;
}

.nav-link:hover{
  color: #ffc137;
}

/*bouton stickybackup*/
#myBtn {
  display: none;
  position: fixed;
  bottom: 20px;
  right: 30px;
  z-index: 99;
  font-size: 18px;
  border: none;
  outline: none;
  background-color: red;
  color: white;
  cursor: pointer;
  padding: 15px;
  border-radius: 4px;
}

#myBtn:hover {
  background-color: #555;
}

/* vos catégories favorites*/
.container {
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.card {
  margin: 2%;
}

/*CAROUSSELS*/
.wrapper {
  display: grid;
  grid-template-columns: repeat(3, 100%);
  overflow: hidden;
  scroll-behavior: smooth;
}

section {
  width: 100%;
  position: relative;
  display: grid;
  grid-template-columns: repeat(10, auto);
  margin: 20px 0;
}

.item {
  position: relative;
  padding: 0 2px;
  transition: duration all;
}

&:hover {
  margin: 0 40px;
  transform: scale(1.2);
}

.heading {
  position: absolute;
  bottom: 20px;
  left: 20px;
  color: #fff;
}

.duration {
  position: absolute;
  bottom: 0;
  left: 20px;
  color: #fff;
}

.arrow__btn {
  position: absolute;
  color: #fff;
  text-decoration: none;
  font-size: 6em;
  background: rgb(0, 0, 0);
  width: 80px;
  padding: 20px;
  text-align: center;
  z-index: 1;
}

.left-arrow{
  top: 0;
  bottom: 0;
  left: 0;
  background: linear-gradient(-90deg,rgba(0, 0, 0, 0) 0%,rgba(0, 0, 0, 1) 100%);
}

.right-arrow{
  top: 0;
  bottom: 0;
  right: 0;
  background: linear-gradient(90deg,rgba(0, 0, 0, 0) 0%,rgba(0, 0, 0, 1) 100%);
}

/*FOOTER*/
footer{
  display: grid;
  flex-direction: column;
  justify-content: center;
  align-content: center;
  width: 100%;
  height: 250px;
  background-color:#ffc137;
}

#socialNetwork{
  width: 5vh;
  height: 5vh;
}

#list{
  list-style: none;
  margin-top: 15px;
}

.infos{
  color: #000000;
  text-decoration:none; 
}


